# Add any directories, files, or patterns you don't want to be tracked by version control
/*
!/envrc
!/build.sh
!/.vscode

# makefiles
!/makefiles/
/makefiles/*
!/makefiles/Makefile.*

# includes
!/includes/

# src
!/src/

# lib
!/lib/

# config
!/config/

# threepart
!/threepart/

# test
!/test/

# common sufix
*.o
*.a
*.so
!*Makefile.so
*.ko
!*Makefile.ko
!*.gitkeep
!*.gitignore
!*.gitmodules
!*.cpp
!*.c
!*.hpp
!*.h
!*Makefile
!*README.md
!*CMakeLists.txt
