[submodule "threepart/libhv"]
	path = threepart/libhv
	url = git@gitee.com:giteewyb/libhv.git
[submodule "threepart/spdlog"]
	path = threepart/spdlog
	url = git@gitee.com:giteewyb/spdlog.git
[submodule "threepart/gtest"]
	path = threepart/gtest
	url = git@gitee.com:giteewyb/googletest.git
