# Add any directories, files, or patterns you don't want to be tracked by version control
/*
!/envrc
!/build.sh
!/.vscode

# makefiles
!/makefiles/
/makefiles/*
!/makefiles/Makefile.*

# includes
!/includes/
/includes/*
!/includes/*.hpp
!/includes/*.h

# src
!/src/

# lib
!/lib/

# build
!/build/
/build/*

# config
!/config/

# common sufix
*.o
!*.gitkeep
!*.gitignore
!*.cpp
!*.c
!*.hpp
!*.h
!*Makefile
!*README.md
